html
  font-family: "proxima-nova",sans-serif
  font-size: 14px

h2
  margin-top: 20px
  margin-bottom: 10px
  font-size: 24px
  line-height: 36px
  font-weight: 600
  padding: 10px 0

a
  text-decoration: none
  &:hover
    text-decoration: underline

p
  a
    color: $blue-note

.separator
  display: block
  margin: 32px auto 5px
  border-top: 1px solid #e9e9ec
  text-align: center
  border-right: none
  padding: 0
  p
    text-align: center
    background: white
    color: $blue-two
    width: 30px
    display: block
    margin: 0 auto
    position: relative
    top: -11px

.required
  abbr
    display: none

.link
  +transition-property(all)
  +transition-duration(500ms)
  +transition-timing-function(ease)
  color: #f69219
  font-size: 16px
  font-weight: 600
  text-decoration: none
  &:hover
    text-decoration: underline

.button
  display: block
  width: 100%
  margin: 24px auto
  padding-top: 19px
  padding-bottom: 19px
  +border-radius(5px)
  background-color: #00b22d
  +transition-property(all)
  +transition-duration(500ms)
  +transition-timing-function(ease)
  color: white
  font-size: 18px
  text-align: center
  text-decoration: none
  font-weight: 400
  border: none
  font-family: "proxima-nova",sans-serif

  &:hover
    background-color: #02c433
    opacity: 1

  &.bt-medium
    padding-top: 12px
    padding-bottom: 12px
    +transition-property(all)
    +transition-duration(500ms)
    +transition-timing-function(ease)
    font-size: 16px

  &.bt-fb
    background-color: #4b6fb8
    margin: 0
    &:hover
      background-color: #547fd6



// Devise

.box-login
  padding-right: 64px
  padding-bottom: 9px
  padding-left: 64px
  border: 0px solid #e9e9ec
  +border-radius(5px)
  .text-center
    margin-top: 7px
    margin-bottom: 5px
    text-align: center
  .big-margin
    margin-bottom: 30px
  .text
    display: inline-block
    margin-right: 9px
    color: #79808b
    font-size: 16px
  .text.or
    position: relative
    bottom: 11px
    z-index: 2
    margin-top: 0px
    margin-right: 11px
    margin-left: 11px
    padding: 0px 8px
    background-color: white
  .register
    text-align: center
    margin-bottom: 16px

  .login-fb
    margin-top: 0px
    margin-bottom: 6px
    padding-top: 3px

.form-login
  margin-top: 0px
  label
    display: inline-block
    margin-bottom: 0px
    color: #79808b
    font-size: 16px
    font-weight: 400
  div
    margin: 0
  .text-field
    height: 40px
    margin-top: 8px
    margin-bottom: 20px
    border: 1px solid #ddd
    +border-radius(3px)
    background-color: #f1f2f3
    +transition-property(all)
    +transition-duration(500ms)
    +transition-timing-function(ease)
    color: #79808b
    font-size: 16px
    &:hover
      border-color: #f69219
    &:focus
      border-color: #f69219
  .forget-password
    position: relative
    left: 60px
    top: -88px
    right: 0px
    bottom: 0px
    color: #79808b
    font-size: 14px
    font-weight: 400
    text-align: left
  .w-checkbox-input
    margin-left: 0
    margin-top: 2px
    margin-right: 10px
  .checkbox
    margin-bottom: 22px
    color: #79808b
    display: inline-block
    cursor: pointer
    font-weight: normal
    font-size: 14px
  .show-password
    position: absolute
    right: 15px
    bottom: 10px
    input
      margin: 0 .4em
    label
      font-size: 14px
      font-weight: normal
  .alt-link
    color: #2c82de
  .accept
    color: #79808b
    font-size: 14px
  .error
    display: none
  .instructions
    font-size: 14px
  .box-error-login
    margin-bottom: 28px
    padding: 10px
    +border-radius(5px)
    background-color: #e86666
  .text-error
    color: white
    font-size: 14px
    font-weight: 400
  .text-error.text-error-bold
    font-weight: 700
  .password
    position: relative
    .hint
      position: absolute
      right: 0
      top: 1px
      color: $blue-two
      font-size: em(13px)
      transition: .2s all
    span.hint
      opacity: 0
  #user_password:focus + .hint
    opacity: 1

.logo-login
  display: block
  height: 61px
  margin: 22px auto 0
  &:hover
    opacity: 0.5

input[type='text'], input[type='number'],  input[type='password'], input[type='email'], textarea, select
  border: 1px solid $border-strong
  color: $blue-two
  outline: none
  padding: .6em .8em
  border-radius: 3px
  width: 100%
  transition: .2s all
  &:focus
    border: 1px solid $orange

// Header

.main-header
  background: $blue_one
  height: 65px

.header-logo
  transition: 0.4s all
  float: left
  margin-top: 10px
  &:hover
    opacity: 0.5
  img
    margin: 0 16px

.header-nav
  margin-top: 14px

.mobile-menu
  display: none

.header-link
  display: inline-block
  padding: 10px 22px
  border-radius: 4px
  color: $gray-two
  font-size: 15px
  font-weight: 300
  text-decoration: none
  &:hover
    background-color: rgba(37, 49, 57, 0.6)
    color: $gray-two
    text-decoration: none
  &:visited
    color: $gray-two
  &.left-side
    float: left
  &.right-side
    float: right

.form-search
  display: inline-block
  width: 250px
  height: 36px
  float: right
  margin-right: 15px
  div
    margin: 0
  input[type=text]
    background: rgba(37, 49, 57, 0.6)
    border: none
    padding-left: 30px
    font-size: 14px
    height: 39px
  input[type="submit"]
    background: url("/assets/catarse_bootstrap/lupa.png")
    width: 15px
    height: 15px
    display: inline-block
    position: relative
    left: 10px
    top: -27px
    border: none
    text-indent: -9999em
  ::-webkit-input-placeholder
    color: $blue-two
  :-moz-placeholder
    color: $blue-two
  ::-moz-placeholder
    color: $blue-two
  :-ms-input-placeholder
    color: $blue-two

.user-profile
  float: right
  margin-left: 15px
  &:hover .user-nav
    display: block
  .user-options
    width: 40px
    margin: 0
    display: inline-block
    transition: 0.4s all
    &:hover
      opacity: 0.5
  .user-avatar
    +border-radius(50%)

.user-nav
  display: none
  background: white
  padding: 5px
  position: absolute
  right: 10px
  +border-radius(4px)
  +box-shadow(rgba(black, 0.3) 1px 1px 2px)
  li
    padding: 2px 15px
    line-height: 30px
    list-style: none
    a
      color: $blue-two
      font-size: 13px
    .small
      font-size: 11px
      font-weight: bold
      color: $green
      margin: -10px 0 7px
      line-height: 15px
    &.divider
      border-top: 1px $border-gray solid

.mobile-menu-link
  display: none

// Footer
.main-footer
  padding: 35px 0
  background: $gray-one
  h4
    margin: 24px 0
    font-size: 16px
    line-height: 24px
    font-weight: 700
  ul
    padding: 0
  li
    padding: 7px 0
    list-style: none
  a
    color: $blue-two
    font-size: 14px
    line-height: 20px
  .copyleft
    color: $blue-two
    font-size: 14px
    margin-top: 35px
    img
      margin-left: 15px
      &:hover
        opacity: 0.8
  .separator
    border: none
    border-top: 1px $border-gray solid
    margin-top: 40px
  .twitter-box
    margin-bottom: 20px


// Page Header
.page-header
  height: 200px
  margin-bottom: 32px
  background-color: #3f4752
  h1
    color: $white
    text-align: center
    font-size: 44px
    line-height: 200px
    font-weight: 400

.text-page
  h2
    margin-top: 20px
    margin-bottom: 10px
    padding-top: 10px
    padding-bottom: 10px
    font-size: 24px
    line-height: 36px
    font-weight: 600
  p
    margin-top: 20px
    margin-bottom: 20px
    font-size: 18px
    line-height: 28px
  .prg2
    margin-top: 25px
    margin-bottom: 40px
    font-size: 16px

.newsletter
  display: inline-block
  height: 34px
  width: 100%
  position: relative
  .newsletter-input
    border: none
    font-size: 13px
    width: 100%
    height: 36px
    line-height: 36px
    text-indent: 5px
    border: 1px solid #ddd
    padding: 1px 40px 1px 4px
    +border-radius(3px)
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    background: #FFFFFF
    &:focus
      border-color: $blue-note
  .newsletter-submit
    position: absolute
    top: 2px
    right: 2px
    border: none
    background: #3C9DFF url(/assets/catarse_bootstrap/catarse-assets.png) no-repeat -163px -74px
    height: 32px
    width: 32px
    text-align: center
    font-size: 18px
    +border-radius(3px)
    text-indent: -9999px
    &:hover
      background: rgba(#3C9DFF, 0.8) url(/assets/catarse_bootstrap/catarse-assets.png) no-repeat -163px -74px

@media screen and (max-width: 1200px)
  .header-link
    padding: 10px

@media screen and (max-width: 991px)
  h2
    padding: 0 5%
  .prg2
    padding: 0 5%

  .show-password
    display: none

  .no-mobile
    display: none

  .mobile-menu-link
    display: inline-block
    border: none
    color: $white
    font-size: 14px
    +border-radius(3px)
    float: right
    padding: 0 10px
    background: rgba(37, 49, 57, 0.6)
    height: 39px
    line-height: 39px
    &::after
      content: url(/assets/catarse_bootstrap/icon-menu.png)
      display: inline-block
      vertical-align: top
      margin: 7px 0 0 7px
    &:hover
      text-decoration: none

  .user-profile
    margin-left: 0
    .user-options
      margin-left: 30px

  .mobile-menu
    display: none
    width: 100%
    padding: 0
    background: $blue-one
    li
      display: inline-block
      width: 100%
      background: rgba(37, 49, 57, 0.6)
      color: $white
      text-align: center
      border-bottom: 1px solid $blue-one
      form
        text-align: left
    .header-link, .form-search
      float: none
      padding: 15px
      &:hover
        background: none


