[data-namespace="null"][data-controller="projects"][data-action="show"]
  span.best_in_place
    margin-left: 0 !important
    height: auto !important
    width: auto !important
    float: none !important
  .add_new_reward
    font-family: 'Lato'
    font-size: 14px
    margin-bottom: 20px

  #page_content
    #project_warning
      .alert.alert-warning
        #toggle_warning
          float: right
          margin-left: 10px
        background-color: #F7F7F7
        border: 1px solid #EDEDED
        color: #666666
        font-family: "Lato"
        font-size: 13px
        line-height: 21px
        margin: 5px 0 0 10px
        width: 95%
        padding: 20px 6px 20px 20px
        +border-radius (0px)
        i
          font-family: "Lato"
          font-style: italic
          font-size: 18px
          color: $pink
          text-shadow: 1px 1px white
        a
          color: $pink
          text-decoration: none
          &:hover
            text-decoration: underline
        b
          font-family: "Lato"
          font-style: italic
          font-size: 16px
    .update
      width: 100%
      float: left
      border-bottom: 1px #ccc dotted
      padding: 10px
      min-height: 67px
      .time
        font-family: "Lato"
        float: left
        color: $channel_text
        font-size: 14px
        margin: 0 0 20px 0
      h3
        font-family: "Arial"
        font-weight: bold
        color: #444
        font-size: 16px
        margin-bottom: 20px
      p
        font-family: Arial
        font-size: 14px
        color: #444
        line-height: 21px
      img
        max-width: 600px
      a
        font-family: Arial
        color: #444
        text-decoration: none
        &:hover
          color: $pink
          text-decoration: underline
        &.destroy_update
          font-size: 12px
          color: $pink
          text-decoration: none
          padding: 10px 0px 20px 20px
          float: left
          &:hover
            text-decoration: underline
      strong
        font-weight: bold
      em
        font-style: italic
        font-size: 12px
        font-family: "Lato"
    .project_image
      +grid(2)
      padding-top:  40px
      padding-bottom: 40px
      img
        max-width: 90px
        max-height: 67px
    .section_header
      +grid(14)
      padding-top:  40px
      padding-bottom: 40px
      h1
        color: #333
        font-family: "Lato"
        font-weight: 700
        font-size: 24px
        padding: 5px 0
      h4
        color: rgba($ultra_gryn, 0.7)
        font-family: Arial
        font-size: 16px
        a
          color: $pink
          text-decoration: none
          &:hover
            text-decoration: underline
        .project-channel
          background: #409BFF
          border-radius: 4px
          color: #FFFFFF
          display: inline-block
          font-size: 0.6em
          margin: 0 0 0 15px
          padding: 4px 12px
          text-transform: uppercase
    .main
      +grid(11)
      padding-bottom: 20px
      .media
        width: 100%
        float: left
        .social
          padding-top: 10px
          #facebook_share, #facebook_share iframe
            float: left
          .twitter_share
            width: 89px !important
            float: right
            margin-right: 5px
          ul
            float: right
            li
              float: left
              &.embed
                margin-right: 5px
                a
                  background: rgba($ultra_gryn, 0.2)
                  padding: 2px 10px
                  text-decoration: none
                  color: black
                  font-family: Lato
                  font-size: 12px
                  +border-radius(5px)
                  +transition(all, 0.3s)
                  img
                    padding: 0 7px 0 0
                  &:hover
                    +box-shadow(rgba(black, 0.5) 0 0 4px inset)
                  &:active
                    +box-shadow(rgba(black, 0.5) 0 0 10px inset)
              &.link
                input[type="text"]
                  margin-top: -2px
                  color: black
                  font-family: Lato
                  font-size: 12px
                  border: 1px $minimal_gryn solid
                  +border-radius(5px)
                  padding: 1px 3px 1px 20px
                  text-align: center
                  background: url($images_path+'link_icon14x14.png') 6px 1px no-repeat

      #project_about
        .text
          width: 100%
          float: left
          position: relative
          p
            line-height: 170%
            margin: 20px 0
            padding-right: 20px
            font-size: 14px
            font-family: Arial
            color: #444
            img
              max-width: 600px

          strong
            font-weight: bold
          a
            word-wrap: break-word
            color: $pink
            text-decoration: none
            &:hover
              color: $pink

      #project_contributions
        margin-top: 20px
        input[type="radio"]
          margin-bottom: 30px
          margin-left: 10px
        .contribution
          width: 286px
          float: left
          border-bottom: 1px #CCCCCC dotted
          min-height: 67px
          padding-right: 25px
          padding-bottom: 30px
          margin-bottom: 30px
          &:last-child
            margin-left: 1px
            padding-right: 0px
          .contribution_avatar
            float: left
            width: 70px
            height: 70px
            margin-right: 15px
          .contribution_info
            float: left
            width: 200px
            #text
              a, .anon
                font-family: "Lato"
                font-weight: 700
                font-size: 18px
                color: #444
                text-decoration: none
                margin-bottom: 15px
                display: block
                &:hover
                  color: $pink
                  text-decoration: underline
            #confirmed, #contributed
              padding-top: 4px
              height: 16px
              text-indent: 25px
              background: url($images_path+'confirmed_icon.png') left top no-repeat
            #contributed
              background: url($images_path+'contributed_icon.png') left 4px no-repeat
              width: 125px
              line-height: 120%
              text-indent: 0px
              height: auto
              padding-left: 25px
            #confirmed, #contributed
              font-family: Arial
              font-size: 12px
              color: $ultra_gryn
          .reward
            font-size: 12px
            font-family: Lato
            margin-top: 10px
            line-height: 120%
            float: left
            width: 240px
            padding: 15px 15px 15px 40px
            background: url($images_path+'reward_box.png') left top no-repeat #F3F3F3
            .value
              font-family: "Lato"
              font-weight: 700
              font-size: 18px
              margin-bottom: 12px
            .user_email
              color: $pink
              font-family: "Arial"
              font-size: 12px
              margin-top: 10px
              &:hover
                text-decoration: underline
            .user_reward
              font-family: "Arial"
              font-size: 12px
    .sidebar
      +grid(5)
      +omega
      border: none
      padding-top: 15px
      .user_social
        +grid(3)
        width: 100%
        margin-left: 0px
        margin-bottom: 40px
        padding-bottom: 30px
        border-bottom: 1px dotted #CCCCCC
        li
          +opacity(0.8)
          float: left
          margin-right: 5px
          a
            +transition(all, 0.5s)
            display: block
            text-indent: -9999em
            height: 15px
            font-family: 'Lato'
            font-size: 12px
            &.email
              width: auto
              color: $pink
              margin-left: 5px
              text-indent: 0px
              text-decoration: none
              padding-top: 1px
              &:hover
                text-decoration: underline
            &.facebook
              width: 16px
              background: url($images_path+'social_icons.png') left -25px no-repeat
            &.twitter
              width: 16px
              background: url($images_path+'social_icons.png') left -54px no-repeat
      #rewards
        .box
          background: #F3F3F3
          width: 225px
          padding: 20px 20px 20px 35px
          margin-bottom: 20px
          border: 1px solid #EDEDED
          //+transition(all, 0.3s)
          &.sortable:hover
            cursor: pointer
          &.clickable:hover
            background: rgba($light_green, 0.3)
          .btn-danger
            margin-top: 20px
          .edit_reward
            margin-right: -17px
          h2
            font-family: "Lato"
            font-weight: 700
            font-size: 18px
            color: #444
            text-transform: uppercase
            padding-bottom: 5px
            text-shadow: 1px 1px white
          em
            background: url($images_path+"reward_count_icon18x17.png") left top no-repeat
            color: $_4d_gryn
            font-family: Arial
            font-weight: bold
            font-size: 11px
            padding: 3px 3px 10px 25px
            text-transform: uppercase
            display: block
            text-shadow: 1px 1px white
          p, .on_the_spot_editing
            color: #444
            font-family: Arial
            font-size: 12px
            line-height: 18px
            padding-bottom: 5px
            a
              color: #64CB64
              text-decoration: none
              &:hover
                text-decoration: underline
          .on_the_spot_editing
            width: 100%
            margin-left: 0px
          .reward_deliver_at
            p
              color: $pink
          .reward_updated_at
            p
              color: $blue
          .description_version
            display: none
            +box-shadow(rgba(black, 0.3) 2px 2px 4px)
            +border-radius(4px)
            width: 230px
            min-height: 60px
            padding: 30px
            background: #fff8e5
            position: absolute
            margin: -140px 0 0 -340px
            p
              font-family: "Lato"
              font-size: 13px
              color: #444444
          .maximum_contributions
            color: #4C525D
            background: url($images_path+"back_statistics.gif") left top repeat-x
            font-family: "Lato"
            font-weight: 700
            height: 51px
            width: 282px
            margin-left: -36px
            font-size: 11px
            text-indent: 30px
            text-transform: uppercase
            &.in_time_to_confirm
              margin-top: 10px
            .limited, .sold_out
              font-size: 13px
              margin-top: 12px
              float: left
              width: 100%
              margin-bottom: 3px
              text-shadow: 1px 1px white
            .sold_out
              color: #e6303c
            .remaining
              text-indent: 0
              display: inline-block
              margin-right: 10px
              font-size: 11px
              text-shadow: 1px 1px white
            .pending
              padding-top: 20px
              color: $green
            .updated_reward
              padding-top: 20px
              color: $pink
              span
                cursor: pointer
      .info
        #pledge
          background: #F3F3F3
        .statistics
          background: #F3F3F3
          width: 240px
          float: left
          padding: 20px 20px 0 20px
          .item
            font-family: Arial
            font-size: 16px
            color: #444
            padding-left: 65px
            margin-bottom: 20px
            p
              white-space: nowrap
              font-family: "Lato"
              font-weight: 700
              font-size: 36px
              color: #444
              text-shadow: 1px 1px white
            em
              font-family: "Lato"
              font-size: 14px
              color: #444
              text-shadow: 1px 1px white
            &.contributions
              background: url($images_path+"sidebar_contributions_icon26x19.png") left center no-repeat
            &.goal
              background: url($images_path+"goal_icon36x17.png") left center no-repeat
            &.time
              background: url($images_path+"time_icon19x30.png") left center no-repeat
        #condition
          background: url($images_path+"back_statistics.gif") left top repeat-x
          width: 260px
          height: 30px
          float: left
          padding: 11px 10px 10px
          &.successful
            background: #64CB64
            p
              color: white
              text-shadow: 1px 1px #349b34
          &.failed
            background: #CC1328
            p
              color: white
              text-shadow: 1px 1px #ab242f
          p
            line-height: 130%
            font-family: Arial
            font-size: 12px
            font-style: italic
            color: #666666
            text-shadow: 1px 1px white
        #pledge
          width: 280px
          float: left
          padding-top: 20px
          padding-bottom: 20px
          input[type="submit"][disabled="disabled"]
            +opacity(0.6)
            background: url($images_path+"submit_back_icon25x22.png") 20px center no-repeat $ultra_gryn
          input[type="submit"]
            display: block
            margin: 0 auto
            background: url($images_path+"submit_back_icon25x22.png") 20px center no-repeat $light_green
            width: 245px
            height: 55px
            border: none
            text-indent: 30px
            +border-radius(10px)
            +transition(all, 0.5s)
            text-transform: uppercase
            font-family: "Lato"
            font-weight: bold
            font-size: 15px
            color: white
            &:hover
              +box-shadow(rgba(black, 0.3) 0 0 4px inset)
            &:active
              +box-shadow(rgba(black, 0.3) 0 0 10px inset)
        .bootstrap-twitter
          .btn-primary
            background-image: -moz-linear-gradient(top, #64CB64, #51A553)
            &:hover
              background-image: -moz-linear-gradient(top, #51A553, #64CB64)
          .alert.alert-info
            background-color: #F7F7F7
            border: 1px solid #EDEDED
            color: #666666
            +border-radius (0px)
            font-family: "Lato"
            font-size: 13px
            line-height: 21px
            padding: 20px 10px 20px 20px
            h4
              font-family: "Lato"
              font-style: italic
              margin-bottom: 5px
              font-size: 18px
              font-weight: normal
              text-shadow: 1px 1px white
        #creator_profile
          padding-top: 40px
          float: left
          padding-bottom: 15px
          a
            color: $ultra_gryn
            text-decoration: none
            &:hover
              color: $pink
          h3
            background: url($images_path+"profile_icon19x14.png") left 4px no-repeat
            color: $ultra_gryn
            font-family: "Lato"
            font-weight: 700
            font-size: 18px
            padding-left: 30px
            display: block
            padding-bottom: 25px
          .avatar
            +grid(2)
            width: 80px
            +alpha
            img
              width: 80px
              height: 80px
          .personal_info
            +grid(3)
            +omega
            margin-left: 0px
            p.name
              padding-bottom: 6px
              a
                font-family: "Lato"
                font-weight: 700
                font-size: 14px
                color: $pink
                text-decoration: none
                &:hover
                  text-decoration: underline
            p
              font-family: Arial
              font-size: 12px
              color: $ultra_gryn
              line-height: 140%
            #bio
              +grid(5)
              width: 190px
              margin-right: 0px
              +alpha
              p
                padding: 0px
                font-family: Arial
                font-size: 12px
                color: $ultra_gryn
                line-height: 130%
          #city
            +grid(5)
            width: 190px
            margin-top: 6px
            margin-right: 0px
            +alpha
            p
              padding: 10px 0
              font-family: Arial
              font-size: 12px
              color: $ultra_gryn
              line-height: 130%
              &.contribution
                background: url($images_path+"contribution_info.png") left 2px no-repeat
                text-indent: 20px
                padding: 0px
              &.city
                background: url($images_path+"contribution_city.png") left 2px no-repeat
                text-indent: 20px
                padding: 0px
                margin-right: 20px
    #project_edit, #project_reports
      .bootstrap-twitter
        a
          color: $pink
        p
          font-family: "Lato"
          font-style: italic
          font-size: 16px
        .alert.alert-info
          p
            margin-bottom: 0
            padding-bottom: 0
          background-color: #F7F7F7
          border: 1px solid #EDEDED
          color: #666666
          font-family: "Lato"
          font-size: 13px
          line-height: 21px
          height: 20px
          padding: 10px 10px 10px 40px
          width: 92%
          +border-radius (0)
      .bootstrap-form
        div
          margin-bottom: 20px
          border-bottom: dotted 1px #cccccc
          padding: 25px 0
          display: inline-block
          width: 100%
        .inputs
          li.input
            margin-bottom: 20px
            float: left
            border-bottom: dotted 1px #CCCCCC
            padding: 25px 0
            width: 100%
        textarea, input[type='text']
          width: 70%
        label
          color: $pink
          float: left
          font-family: "Lato"
          font-style: italic
          font-size: 18px
          line-height: 24px
          text-align: center
          width: 160px
          margin-right: 10px
        span.hint
          color: #777777
          float: right
          margin-right: 20px
          font-family: "Lato"
          font-size: 12px
          line-height: 18px
          width: 70%
        li.project_category_input
          p.inline-hints
            float: left
            margin-left: 180px
            width: 255px
        #formatting_tips
          float: right
          width: 70%
        .form-actions
          background: none
          border: none
          padding: 0
          margin: 0
          .btn
            border: solid 1px $darker_pink
            color: white
            display: block
            font-family: "Lato"
            text-shadow: 1px 1px $darker_pink
            font-size: 12px
            height: 46px
            padding: 0 15px 0 45px
            text-transform: uppercase
            margin-top: 20px
            margin-right: 10px
            float: right
            +border-radius (10px)
            background: $pink url($images_path+"icon_refreshproject.png") 10px 9px no-repeat
            &:hover
              background-color: $darker_pink
    #project_updates
      p
        margin-top: 10px
        word-wrap: break-word
      em
        font-family: "Lato"
        font-size: 16px
        color: black
      width: 620px
      .bootstrap-form
        margin-top: 20px
        textarea, input#update_title
          width: 98%
          margin-bottom: 20px
        label
          font-family: "Lato"
          font-size: 15px
          color: rgba(0, 0, 0, 0.8)
        label, input#update_exclusive
          margin: 5px
          float: left
      .alert.alert-info
        background-color: #F7F7F7
        border: 1px solid #EDEDED
        color: #666666
        +border-radius (0px)
        font-family: "Lato"
        font-size: 13px
        line-height: 21px
        padding: 20px 10px 10px 20px
      #formatting_tipgs
        float: left
        padding: 20px
        width: 93%
      .actions
        background: none
        border: none
        padding: 0
        margin: 0
        .btn
          border: solid 1px $darker_pink
          color: white
          display: block
          font-family: "Lato"
          text-shadow: 1px 1px $darker_pink
          font-size: 12px
          height: 46px
          padding: 0 15px 0 45px
          text-transform: uppercase
          margin-top: 10px
          margin-right: 10px
          float: left
          +border-radius (10px)
          background: $pink url($images_path+"icon_refreshproject.png") 10px 9px no-repeat
          &:hover
            background-color: $darker_pink
    #formatting_tips
      padding: 10px
      background: #F7F7F7
      border: 1px solid #EDEDED
      margin-right: 10px
      color: #666666
      h3
        border-bottom: 1px dotted #CCCCCC
        font-family: "Lato"
        font-style: italic
        font-size: 18px
        margin-bottom: 25px
        margin-top: 10px
        padding-bottom: 10px
        text-shadow: 1px 1px white
      p
        font-family: "Arial"
        font-size: 13px
        line-height: 18px
        margin-bottom: 20px
        margin-left: 60px
        margin-right: 15px
        margin-top: 10px
        padding-bottom: 10px
      a
        color: $pink
        text-decoration: none
        &:hover
          text-decoration: underline
      img
        float: left
      strong
        font-weight: bold
      i
        font-style: italic
